<div class="row">
  <div class="col-md-12" align="center">Version 0.0.5
    <a href="" ng-click="setlang(1)">中文</a>
    <a href="" ng-click="setlang(0)">English</a>

    <a class="btn btn-large" href="https://github.com/lieefu/rippleok" target="_blank">
      <i class="fa fa-github fa-1x"></i> View on GitHub
    </a>
    {{lang==0?'Author':'作者'}}: <a href="mailto:lieefu@gmail.com">lieefu@gmail.com</a> . ~rippleok rXzxK7wpKLZ99qwXNiy5nFQUhYxFZq3Rd
    <a href="https://twitter.com/rippleok" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="http://weibo.com/207899158" target="_blank"><i class="fa fa-weibo fa-2x"></i></a>
    <a href="http://jq.qq.com/?_wv=1027&k=c7uoOv" target="_blank"><i class="fa fa-qq fa-2x"></i></a>
  </div>
</div>
