<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-show="showKchart">
  <div id="kchart" style="height:300px"></div>
</div>
<hr>
<div class="container" ng-cloak>
  <table class="table table-bordered table-condensed table-hover">
    <thead align="center">
      <tr>
        <th style="width:150px;text-align:center">{{lang==0?'Currency':'币种'}}</th>
        <th style="width:120px;text-align:center">{{lang==0?'Gateway':'网关'}}</th>
        <th style="width:100px;text-align:center">{{lang==0?'Trade Price':'价格'}}</th>
        <th style="width:100px;text-align:center" ng-if="lang==1">{{lang==0?'To CNY':'人民币'}}</th>
        <th style="width:100px;text-align:center" ng-if="lang==0">{{lang==0?'To USD':'美元'}}</th>
        <th style="width:100px;text-align:center">{{lang==0?'Volume(XRP)':'交易量(XRP)'}}</th>
        <th style="width:100px;text-align:center">{{lang==0?'Low':'最低价'}}</th>
        <th style="width:100px;text-align:center">{{lang==0?'High':'最高价'}}</th>
        <th style="text-align:center">{{lang==0?'Web':'官网'}}</th>
        <th style="width:100px;text-align:center">{{lang==0?'ExchgRate/USD':'汇率/USD'}}</th>
      </tr>
    </thead>
    <tbody  ng-repeat="market in markets">
      <tr ng-repeat="gateway in market.gateways">
        <td style="vertical-align:middle" ng-if="$first" rowspan="{{market.gateways.length}}"><span class="currency {{market.currency}}"></span>{{market.name}}</td>
        <td><a href="./ledger/gateway.html#{{market.currency}}.{{gateway.address}}"  target="_blank">{{gateway.name}}</a></td>
        <td style="text-align:right"><span id="{{market.currency}}{{gateway.address}}" data-toggle="popover" data-placement="right" data-content="" class="{{gateway.price.action}}">{{gateway.price.value}}</span>{{market.symbol}}</td>
        <td style="text-align:right;color:gray" ng-if="lang==1">{{gateway.price.value|exchgrate:'CNY':market.currency|number:7}}</td>
        <td style="text-align:right;color:gray" ng-if="lang==0">{{gateway.price.value|exchgrate:'USD':market.currency|number:7}}</td>
        <td style="text-align:right">{{gateway.volume.xrp|number:0}}</td>
        <td style="text-align:right">{{gateway.price.low}}</span>{{market.symbol}}</td>
        <td style="text-align:right">{{gateway.price.high}}</span>{{market.symbol}}</td>
        <td><a href="{{gateway.url}}" target="_blank">{{gateway.url}}</a></td>
        <td style="text-align:right;vertical-align:middle" ng-if="$first" rowspan="{{market.gateways.length}}">{{ExchgRate[market.currency]|number:2}}{{market.currency}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12 text-right">{{startTime}}---{{endTime}}</div>
  </div>
</div>
<footer ng-include="'components/footer/footer.html'"></footer>
